/node_modules
.env
/files
cred.csv
budget.csv
budget.csv_backup.csv
empty.csv
empty.csv_backup.csv
test.csv
tmp.csv
urls.csv
*.csv
# User management scripts (keep private for security)
usermanage.py

*.backup
*.db
